<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
   <div class="jumbotron">
    <h1>MEN - 게시판</h1>
    <P>이 사이트는 Suk's Gongbang의 게시판 작성 챕터입니다.</p>
   </div>
  </div>
 </body>
</html>
